<div *ngIf="player">

    <h2>{{player.name | uppercase}} Details</h2>
    <div><span>id: </span>{{player.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="player.name" placeholder="name"/>
      </label>
    </div>
    <div>
        <label>position:
          <input [(ngModel)]="player.position" placeholder="position"/>
        </label>
      </div>    
      <div>
        <label>dorsal:
          <input [(ngModel)]="player.dorsal" placeholder="dorsal"/>
        </label>
      </div>
      <button (click)="save()">save</button>
      <button (click)="goBack()">go back</button>
  </div>