<mat-grid-list [cols]="colSize" [rowHeight]="maxPx" gutterSize="1%">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="lightblue">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.backgroud]="'lightblue'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.ZV0glKPRn-sWTtIHb0HYwQHaGx%26pid%3DApi&f=1" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>