
<footer>
        <div id="contenedor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
   
       
   
        <p>Iago Otero Goce</p>
        <p>Esica 2019 <a href="https://github.com/Iago98">
                <i style="font-size:24px" class="fa">&#xf09b;</i>
            </a></p>
            <div class="barrasubebaja">
            <app-messages></app-messages>
        </div>
    </div>
    




  
</footer>
