.contenedor {
    max-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    max-width: 1280px !important;
}

.img {
    text-align: center;
}

.contenedor p {
    text-align: right;
}

@media (max-width: 415px) {
    .loco {
        margin-top: 360px;
    }
}