<footer class="loco">
    <div class="contenedor">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="img">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F1221%2FPNG%2F512%2F1492608057-11-photo-google-gallery-image-picture-data-suit-services_83377.png&f=1&nofb=1" alt="W3Schools.com" style="width:104px;height:142px;">
        </div>
        <p>VigoModd</p>
        <p>Email de la empresa: empresaficiticia@vigo.com</p>
        <p>2019-2020
            <a href="https://github.com/Iago98">
                <i style="font-size:24px" class="fa">&#xf09b;</i>
            </a>
        </p>

    </div>
</footer>