<mat-grid-list [cols]="colSize" rowHeight="100px" gutterSize="1%">
    <mat-grid-tile

        [colspan]="1"
        [rowspan]="1"
        [style.backgroud]="lightgreen">
Texto 1
    </mat-grid-tile>
    <mat-grid-tile

    [colspan]="1"
    [rowspan]="1"
    [style.backgroud]="'wheat'">
Texto 2
</mat-grid-tile>
<mat-grid-tile

[colspan]="1"
[rowspan]=""
[style.backgroud]="'red'">
Texto 3
</mat-grid-tile>
<mat-grid-tile

[colspan]="1"
[rowspan]="1"
[style.backgroud]="'lightblue'">
Texto 4
</mat-grid-tile>

</mat-grid-list>
