<mat-card>
<mat-card-header >
    <mat-card-title>MSI</mat-card-title>
    <mat-card-subtitle>AlienWare</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Computer_case.JPG/595px-Computer_case.JPG" alt="photo of MSI">
<mat-card-content>
    <p>
        El pc mas tochisimo del planeta todo a 4k en en alto.
    </p>
</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header >
        <mat-card-title>MSI</mat-card-title>
        <mat-card-subtitle>AlienWare</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Computer_case.JPG/595px-Computer_case.JPG" alt="photo of MSI">
    <mat-card-content>
        <p>
            El pc mas tochisimo del planeta todo a 4k en en alto.
        </p>
    </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header >
            <mat-card-title>MSI</mat-card-title>
            <mat-card-subtitle>AlienWare</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Computer_case.JPG/595px-Computer_case.JPG" alt="photo of MSI">
        <mat-card-content>
            <p>
                El pc mas tochisimo del planeta todo a 4k en en alto.
            </p>
        </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header >
                <mat-card-title>MSI</mat-card-title>
                <mat-card-subtitle>AlienWare</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Computer_case.JPG/595px-Computer_case.JPG" alt="photo of MSI">
            <mat-card-content>
                <p>
                    El pc mas tochisimo del planeta todo a 4k en en alto.
                </p>
            </mat-card-content>
            </mat-card>
            

