.mat-grid-tile {
    background-color: lightblue;
}

div {
    margin-top: 1%;
}

.mapa {
    margin-left: 5%;
    width: 90%;
}

.mrd {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.footer {
    margin-top: 0px;
}