<div class="mrd">
    <p>
        VigoModd la tienda informática de referencia en España.
    </p>
    <p>
        Puede encontrarnos en Pueblo Santinado Nº124
    </p>
    <p>
        ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercio
    </p>
</div>
<div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2943.400569608503!2d-6.081504135499195!3d42.46176857199925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd375e0ff83ef1cd%3A0xd31b60ad15ea2039!2s24718%20Valdeviejas%2C%20Le%C3%B3n!5e0!3m2!1ses!2ses!4v1581267888821!5m2!1ses!2ses"
        class="mapa" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>
<app-footer-s></app-footer-s>